<a href="https://colab.research.google.com/github/Srinivasgurrala/DataScience_Python_codes/blob/main/Pandas_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

In [4]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [5]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [6]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [7]:
df.shape

(78, 6)

In [8]:
df.ndim

2

In [9]:
df.size

468

In [ ]:
df.values

In [ ]:
df.tail(10)

In [11]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [12]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [13]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [14]:
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [15]:
df.discipline

0     B
1     A
2     A
3     A
4     B
     ..
73    B
74    B
75    B
76    A
77    A
Name: discipline, Length: 78, dtype: object

In [16]:
df.discipline.value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [17]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [18]:
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [19]:
#Step1
df_50=df.head(50)

In [20]:
#Step2
df_50.mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [21]:
df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [22]:
#Selecting a column
df.salary

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [23]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [24]:
df[['salary']]

    salary
0   186960
1    93000
2   110515
3   131205
4   104800
..     ...
73  105450
74  104542
75  124312
76  109954
77  109646

[78 rows x 1 columns]

In [ ]:
df.columns

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [25]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [26]:
df.phd.count()

78

In [27]:
df.phd.mean()

19.705128205128204

In [ ]:
df.groupby(['rank']).mean()

In [ ]:
df.groupby('rank')[['salary','phd']].mean()

In [ ]:
grouped=df.groupby('rank')

In [ ]:
type(grouped)

In [ ]:
df[df.salary>120000]

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:10,0:3]

In [ ]:
df.iloc[0:2,]

In [ ]:
df.iloc[:,4]